body {
    background-color: #000c18;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }  
    p {
    font-family: "Courier";
    color: pink;
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  button{
    font-family: "Courier";
    width: auto;
    display: table;
    border: 1px solid pink;
    padding: 10px 20px;
    border-radius: 20px;
    color: #42337d;
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-size: large;
     margin: 0 10px;
     display:inline-block;
    outline: none;
  }
  button:hover{
    background-color: #000c18;
    border: pink;
    color: pink;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
  }
  .hello{
    color: Pink; 
    font-family: "Courier";
    font-size: 35px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 5em;
    animation: type 1s steps(100, end); 
  }
  @keyframes type{ 
    from { width: 0; } 
  } 