@import url(columns.css);
@import url(form.css);
@import url(grid.css);
@import url(images.css);
@import url(navigator.css);
@import url(table.css);

body {
	background-color: #00acfc;
	background-image: url(png/body-background.gif);
	background-position: center top;
	color: #444444;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
}

img {
	border: 0px;
}

a {
	color: #444444;
	text-decoration: none;
}

a:hover, a.link {
	text-decoration: underline;
}

div#header {
	background-image: url(png/page-top.gif);
	height: 75px;
	text-align: right;
	width: 500px;
}

img#blankLink {
	float: left;
	height: 60px;
	width: 125px;
}

div#tabs {
	padding-top: 44px;
}

img.tab {
	margin-left: 4px;
}

div#page {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

div.content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	width: 460px;
}

div#footer {
	margin-top: 50px;
	background-image: url(png/page-bottom.gif);
	color: #ffffff;
	font-size: 10px;
	height: 25px;
	padding-top: 15px;
	text-align: center;
}

div.clear {
	clear: both;
	height: 0px;
	width: 0px;
}

h1 {
	border-bottom: 2px solid #dbe4f7;
	font-size: 12px;
}

span.subheading {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

li {
	line-height: 15px;
	margin-left: -15px;
}

p {
	margin-top: 0px;
	line-height: 15px;
}

div.bar {
	border-bottom: 1px solid #dbe4f7;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.fineprint {
	margin-top: 15px;
	font-size: 9px;
}

pre.code {
	overflow: auto;
}