body {
    background-color: #000c18;
}

* {
    text-align: center;
    color: #838383c9;
    font-family: "Arial Black", Gadget, sans-serif"
    
}

#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-size: 39px;
    color: rgb(255, 255, 255)

}


.center-align {
    text-align: center;
}

p {
    font-family: "Arial Black, Gadget, sans-serif";
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255)
}

#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: #000000;
    width: 75%;
    padding: 20px;
    border: 2px solid #ffffffc9;
}

#btn {
    width: 35%;
    font-size: 25px;
    color: #838383c9;
    margin-top: 25px;
    padding: 17px;
    background-color: #000000;
    border: 2px solid #838383c9;
}

#btn:hover { 
    background-color: #ffffff;
}

#log {
    text-align: center;
    width: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}